# Company github
Host github.com-company
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_rsa_company
    IdentitiesOnly yes

# Personal github
Host github.com-personal
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_rsa_personal
    IdentitiesOnly yes

# How to clone a repo
# git clone git@github.com-company:username/repository.git
# git clone git@github.com-personal:username/repository.git

# How to reset url
# git remote set-url origin git@github.com-company:username/repository.git
# git remote set-url origin git@github.com-personal:username/repository.git

# How to verify accounts
# ssh -T git@github.com-company
# ssh -T git@github.com-personal
